
/* ---------- Basic Layout Styles ----------- */

html,
body,
#page  {
  height: 100%;
}
body {
  font-size: 13px;
}
#page-wrapper {
  min-height: 100%;
  min-width: 960px;
}
#header {
  height: 137px;
}
.region region-content {
  overflow: hidden;
}
#header,
#featured div.section,
#messages div.section,
#triptych,
#footer-columns,
#footer,
.nav {
  width: 960px;
  margin: 0 auto;
}
#header div.section {
  position: relative;
}
.region-header {
  float: right; /* LTR */
  margin: 0 5px 10px;
}
.with-secondary-menu .region-header {
  margin-top: 3em;
}
.without-secondary-menu .region-header {
  margin-top: 15px;
}
#secondary-menu {
  position: absolute;
  right: 0; /* LTR */
  top: 0;
  width: 480px;
}
#sidebar-second,
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last,
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  display: inline;
  float: left; /* LTR */
  position: relative;
}
.one-sidebar #content {
  
}
.two-sidebars #content {
  width: 480px;
}
.no-sidebars #content {
  width: 960px;
  float: none;
}
#sidebar-first,
#sidebar-second {
  
}
#main-wrapper {
  min-height: 300px;
}
#content .section,
.sidebar .section {
  padding: 0;
}
#breadcrumb {
  margin: 0 15px;
}
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last {
  margin: 20px 20px 30px;
  width: 280px;
}
#footer-wrapper {
  padding: 0;
}
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  padding: 0 10px;
  width: 220px;
}
#footer {

}
 

/*--------------------------------------------------------------*/
/*---------------------------< Header >-------------------------*/
/*--------------------------------------------------------------*/
#header .logo {
  overflow: hidden;
  width: 289px;
  height: 72px;
  margin: 35px 0 0; 
}
#header .logo a {
  display: block;
  width: 289px;
  height: 72px;
  text-indent: -9999px;
  background: url(../images/logo.png) no-repeat;
}
.header-right-block {
  overflow: hidden;
  float: right;
}
.social-media {
  overflow: hidden;
  margin: 10px 0 9px;
}
.social-media > li {
  overflow: hidden;
  float: left;
  margin: 0 0 0 6px;
}
.social-media > li a {
  display: block;
  text-indent: -9999px;
  background: url(../images/soc_media_sprite.png) no-repeat; 
}
.social-media > li.like a {
  width: 58px;
  height: 25px;
  background-position: -177px -4px;
}
.social-media > li.tw a {
  width: 80px;
  height: 25px;
  background-position: -92px -4px; 
}
.social-media > li.fb a {
  width: 82px;
  height: 25px;
  background-position: -5px -4px;
}
.social-media > li a:hover {
  opacity: 0.8;
  filter:alpha(opacity=80);
}
.telephone {
  overflow: hidden;
  position: relative;
  float: right;
  padding: 2px 0 6px 7px;   
}
.telephone p {
  width: 216px;
  margin: 2px 2px 0 0;
  padding: 0 15px;
  line-height: 26px;
  text-align: right;
  background-color: #ECECEC;
  border: 2px solid #C6C6C6;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  font-size: 15px;
  font-family: Arial;
  font-weight: bold;
  color: #231F20;
  box-shadow: 1px -1px 2px 0 #E2E2E2;
  -moz-box-shadow: 1px -1px 2px 0 #E2E2E2;
  -webkit-box-shadow: 1px -1px 2px 0 #E2E2E2;
  -o-box-shadow: 1px -1px 2px 0 #E2E2E2;
  -ms-box-shadow: 1px -1px 2px 0 #E2E2E2;
}
.telephone span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 37px;
  height: 37px;
  background: url(../images/telephone.png) no-repeat left center;
}
#block-locale-language {
  overflow: hidden;
}
.language-switcher-locale-url {
  overflow: hidden;
  margin: 13px 0 0;
}
.language-switcher-locale-url > li {
  overflow: hidden;
  float: left;
  margin: 0 0 0 4px;
  width: 31px;
  height: 19px;
  padding: 0;
}
.language-switcher-locale-url > li a {
  display: block;
  width: 31px;
  height: 19px;
  text-indent: -9999px;
  opacity: 0.6;
  filter:alpha(opacity=60);  
}
.language-switcher-locale-url > li.de a {
  background: url(../images/ger_flag.png) no-repeat;
}
.language-switcher-locale-url > li.en a {
  background: url(../images/eng_flag.png) no-repeat;
}
.language-switcher-locale-url > li a:hover,
.language-switcher-locale-url > li.active a {
  opacity: 1;
  filter:alpha(opacity=100);
}
/*--------------------------------------------------------------*/
/*------------------------< Navigation >------------------------*/
/*--------------------------------------------------------------*/
.nav-wrap {
  height: 69px;
  background: url(../images/nav_bg.png) repeat-x; 
}
.nav {
  position: relative;
}
.notfall {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: -56px;
  width: 89px;
  height: 93px;
  background: url(../images/notfall_bg.png) no-repeat;
}
.notfall a {
  display: block;
  position: relative;
  width: 70px;
  height: 71px;
  margin: 11px 0 0 10px;
  background: url(../images/notfall_cirkle.png) no-repeat;
}
.notfall a:hover {
  transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transition: all 1s ease-in-out 0.5s;
  scale:1;
}
.notfall a span {
  display: block;
  position: relative;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  background: url(../images/notfall_cross.png) no-repeat;
  text-indent: -9999px;
}
/*----------------------< Main Menu >--------------------*/
ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.menu > li {
  display: inline-block;
  float: left;
  padding:0;
  margin: 0;
  height: 37px;
}
ul.menu > li  a {
  display: inline-block;
  padding: 0 15px;
  line-height: 37px;
  font-size: 16px; 
  font-family: Arial, sans-serif;
  color: #464545;  
}
#main-menu .menu > li a:hover, 
#main-menu .menu >li a.active {
  background-color: #39A8B4;
  color:#fff;
  font-weight: bolder;
  text-decoration: none;
}
#main-menu .menu >li.expanded {
  display: inline-block;
  position: relative;
}
#main-menu .menu >li.expanded ul.menu {
  opacity: 0;
  position: absolute;
  top: 37px;
  left: 0;
  overflow: visible;
  width: 400px;
}
#main-menu .menu >li.expanded:hover ul.menu {
  opacity: 1;
  z-index: 30;
}
#main-menu .menu >li.expanded ul.menu li {
  display: block;
  float: left;
  height: 32px;
  background-color:#EAEAEA;
}
#main-menu .menu >li.expanded ul.menu li a {
  line-height: 32px;
  padding: 0 15px;
  font-size: 16px; 
  font-family: Arial, sans-serif;
  color: #464545; 
}
#main-menu .menu >li.expanded ul.menu li a:hover,
#main-menu .menu >li.expanded ul.menu li a.active {
  background-color: #39A8B4;
  color:#fff;
  font-weight: bolder;
  text-decoration: none;
}
/*--------------------------------------------------------------*/
/*----------------------< Sidebar >-----------------------------*/
/*--------------------------------------------------------------*/
.sidebar-left {
  overflow: hidden;
  width: 308px;
  margin: 0 4px 0 0;
  float: left;
}
/*--------------------------------------------------------------*/
/*----------------------< Content >-----------------------------*/
/*--------------------------------------------------------------*/
#main-wrapper {
  
}
.main-wrap-bg {
  width: 100%;
  height: 318px;
  background-color: #39A8B4;
}
.content-wrapper {
  overflow: hidden;
  width: 100%;
  background: url(../images/content_wrapper_bg.png) repeat-x;
}
.content-pages-wrapper {
  overflow: hidden;
  width: 100%;
  background: url(../images/pages_top_bg.png) repeat-x;
}
.main_container_inner {
  overflow: hidden;
  width: 960px;
  margin: 0 auto 106px;
}
.main-column {
  overflow: hidden;
  width: 643px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
.view-home-slideshow {
  overflow: hidden;
  width: 640px;
  height: 318px;
  margin: 0 0 0 6px;
}
#block-views-home-slideshow-block h2 {
  display: none;
}
.body-inner {
  
}
.slideshow-aside {
  overflow: hidden;
  margin: 0;
}
.stuff-ocupation {
  overflow: hidden;
  width: 290px;
}
.stuff-ocupation h3 {
  font-size: 18px;
  color: #fff;
  margin: 8px 0 9px;
}
.ocupation-list {
  overflow-y: auto;
  margin: 0;
  padding: 0;
   
}
.ocupation-list > li {
  padding: 0 0 0 8px;
  line-height: 1.3;
  max-height: 226px;
  background: url(../images/list_icon.png) no-repeat center left;
}
.ocupation-list > li a {
    font-size: 12px;
    color: #fff;
}
.subscribe {
  overflow: hidden;
  width: 288px;
  margin: 11px 0 9px;
}
.subscribe form input.subscribe {
  float: left;
  height: 35px;
  width: 235px;
  line-height: 35px;
  margin: 0;
  padding: 0 12px;
  font-size: 13px;
  color: #C3C3C3;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #A2A2A2;
}
.subscribe form input.submit {
  width: 53px;
  height: 35px;
  margin: 0;
  padding: 0;
  border: 0 none;
  line-height: 35px;
  background-color: #454545;
  text-align: center;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
}
.home-main-sidebar {
  overflow: hidden;
  margin: 8px 0 0;
  padding: 11px 11px 25px 14px;
  border: 4px solid #E6E6E6;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.scadhule-block {
  overflow: hidden;
  margin: 0 0 20px;  
}
.scadhule-title {
  overflow: hidden;
}
.scadhule-title h3 {
  overflow: hidden;
  width: 191px;
  height: 29px;
  margin: 15px 0 0;
  padding: 0 8px;
  line-height: 29px;
  background: url(../images/scadule_title_bg.png) no-repeat;
  color: #fff;
  font-size: 16px;

}
.scadhule-title span {
  display: block;
  width: 64px;
  height: 55px;
  float: left;
  background: url(../images/clock.png) no-repeat;
}
.scadhule-block p {
  overflow: hidden;
  margin: 27px 0 0;
  color: #585858;
  font-size: 10px;
  font-family: Arial, sans-serif;
}
.praxis-info {
  overflow: hidden;
  margin: 0 0 34px;
  padding: 14px 4px 0;
  border: 1px solid #DBDBDB;
  box-shadow: 0 0 2px 0 #F0F0F0;
}
.praxis-info .small-logo {
  overflow: hidden;
  display: block;
  width: 105px;
  height: 27px;
  margin: 0 12px 0 0;
  float: left;
  background: url(../images/small_logo.png) no-repeat;
}
.praxis-info .praxis-contact {
  overflow: hidden;
}
.praxis-info .praxis-contact p,
.praxis-info .praxis-contact a {
  margin: 0;
  font-size: 10px;
  line-height: 1.5;
  color: #231F20;
  text-decoration: none;
}
.links-listing-block {
  overflow: hidden;
}
.links-listing {
  overflow: hidden;
  margin: 30px 0 24px;
  padding: 0;
}
.links-listing > li {
  overflow: hidden;
  float: left;
  height: 57px;  
  margin: 0;  
}
.links-listing > li a {
  display: block;
  height: 57px;
  line-height: 57px;
  background: url(../images/links_list_sprite.png) no-repeat;
  text-indent: -9999px;
}
.links-listing > li.equam a {
  width: 56px;
  margin: 0 25px 0 0;
  background-position: -11px 0;
}
.links-listing > li.emergency a {
  width: 70px;
  margin: 0 24px 0 0;
  background-position: -84px 1px;
}
.links-listing > li.medix a {
  width: 100px;
  background-position: -173px 3px;
}
.timetable {
  overflow: hidden;
  margin: 0; padding: 0;
  list-style: none;
}
.timetable > li {
  overflow: hidden;
  float: left;
  height: 22px;
  margin: 2px 5px 0 0;
}
.timetable > li span {
  display: block;
  float: left;
  padding: 0 0 0 15px;
  width: 70px;
  line-height: 18px;
  background-color: #585858;
  border: 2px solid #777;
  font-size: 11px;
  color: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.timetable > li span.narrow {
  padding: 0 0 0 4px;
  width: 51px;
}
.timetable > li p {
  display: inline-block;
  width: 62px;
  height: 20px;
  margin: 0;
  line-height: 20px;
  padding: 0 0 0 3px;
  background-color: #fff;
  border: 1px solid;
  border-color: #999999 #999999 #777777;
  color: #231F20;
  font-size: 12px;
  font-family: Arial,sans-serif;
}
.timetable > li p.wide {
  padding: 0 2px 0 4px;
  width: 78px;
}.slidesjs-container {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#block-praxis-doctors-home-doctors {
  overflow:hidden;
  margin: 0 0 9px;
  border: 4px solid #E6E6E6;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  padding: 0;
}
#block-praxis-doctors-home-doctors h2 {
  overflow: hidden;
  margin: 0;
  padding: 11px 43px 8px;
  font-family: Arial, sans-serif;
  background-color: #E6E6E6;
  font-size: 22px;
  color: #231F20;
}
ul#slides {
  overflow: hidden;
  
}
li.slidesjs-slide ul {
  overflow: hidden;
  margin: 0;
}
li.slidesjs-slide ul > li {
  overflow: hidden;
  display: block;
  float: left;
  margin: 7px 0 9px 30px;
  padding: 6px 6px 8px;
  border: 1px solid #CFCECE;
  box-shadow: 0 0 3px 0 #CFCECE;
  max-height: 125px;
  min-height: 125px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
li.slidesjs-slide ul > li a {
  display: block;
  text-align: center;
  max-width: 76px;
  max-height: 110px;
  min-height: 110px;
  overflow: hidden;
}
li.slidesjs-slide ul > li a:hover {
  text-decoration: none;
}
li.slidesjs-slide ul > li a img {
  display: block;
  width: 76px;
  height: 83px;
  margin: 0 0 8px;
}
li.slidesjs-slide ul > li a span {
  font-size: 9px;
  font-weight: bold;
  font-family: Arial, sans-serif; 
  color:#231F20;
  line-height: 1.2;
  word-spacing: 1px;
  display: block;
}
a.slidesjs-previous {
  margin: 0 0 7px 574px;
}
a.slidesjs-previous, a.slidesjs-next {
  width: 17px;
  display: inline-block;
  height: 17px;
  line-height: 17px;
  text-indent: -99999px;
  background: url(../images/errow_rounded_bg.png) no-repeat;
  outline: none;
}
a.slidesjs-next {
  margin: 0 18px 7px 6px;
  background: url(../images/errow_rounded_bg_next.png) no-repeat;
}
.views_slideshow_cycle_main {
  overflow: hidden;
}
/*-------------------------------------------------------------*/
.footer-block {
  overflow: hidden;
  width: 960px;
  min-width: 920px;
  margin: 0 auto;
  padding: 10px 17px 9px;
  background-color: #E6E6E6;
}
.footer-block .copyright {
  overflow: hidden;
  float: right;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #595959;
}
#block-menu-menu-footer-menu {
  overflow: hidden;
}
#block-menu-menu-footer-menu .content .menu {
  overflow: hidden;
}
#block-menu-menu-footer-menu .content .menu > li {
  overflow: hidden;
  float: left;
  height: 20px;
}
#block-menu-menu-footer-menu .content .menu > li a {
  display: inline-block;
  padding: 0 7px 0 5px;
  line-height: 20px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  color: #595959;
  background: url(../images/footer_menu_separater.png) no-repeat center right;
}
#block-menu-menu-footer-menu .content .menu > li.first a {
  padding: 0 7px 0 0;
}
ul, menu, dir {
display: block;
-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0;
}
/*----------------------------------------------*/
/*-----------------< PAGES >--------------------*/
/*----------------------------------------------*/
/*----------------------< Breadcrumb >---------------------*/
.breadcrumb {
  overflow: hidden;
  padding: 0;
  color: #fff;
}
.breadcrumb a {
  display: inline-block;
  margin: 13px 0 10px;
  color: #fff;
  font-size: 12px;
}
.breadcrumb a:hover {
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
/*---------------------------------------------------------*/
/*-------------------< Sidebar Right >---------------------*/
/*---------------------------------------------------------*/
.sidebar-right-inner {
    overflow: hidden;
    width: 326px;
    margin: 0;
}
#sidebar-second .stuff-ocupation,
.sidebar-right-inner .scadhule-block,
.sidebar-right-inner .praxis-contact,
.sidebar-right-inner .subscribe {
    overflow: hidden;
    background-color: #F2F9FA;
    border-top: 1px solid #C4DAD9;
    border-right: 1px solid #C4DAD9;
    border-bottom: 2px solid #C4DAD9;
    border-left: 2px solid #C4DAD9;
}
.sidebar-right-inner .scadhule-block,
.sidebar-right-inner .praxis-contact,
.sidebar-right-inner .subscribe {
    margin: 0 0 10px;
    padding: 20px 10px 16px 18px;
}
.sidebar-right-inner .subscribe {
    overflow: hidden;
    background-color: #F2F9FA;
    padding: 20px 17px 16px 18px;
    border-top: 1px solid #C4DAD9;
    border-right: 1px solid #C4DAD9;
    border-bottom: 2px solid #C4DAD9;
    border-left: 2px solid #C4DAD9;
}
.sidebar-right-inner .subscribe input.subscribe {
    background-color: #fff;
}
#sidebar-second .stuff-ocupation {
    padding: 20px 15px 16px 18px;
    margin: 31px 0 10px;
}
#sidebar-second .stuff-ocupation h3 {
    font-size: 20px;
    color: #0A817F;
}
#sidebar-second .stuff-ocupation .ocupation-list {
    overflow: hidden;
}
#sidebar-second .stuff-ocupation .ocupation-list > li {
    overflow: hidden;
    padding: 0 0 0 11px;
    list-style: none;
    background: url(../images/sidebar-right-dot.png) no-repeat left center;
}
#sidebar-second .stuff-ocupation .ocupation-list > li a {
    color: #393939;
    font-size: 13px;
}
/*---------------------------------------------------------*/
.news-head {
  overflow: hidden;
  position: relative;
  height: 309px;
}
.news-head img {
  display: block;
}
.news-head h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0 0 0 30px;
  line-height: 60px;
  background-color: #0b0b0b;
  opacity: 0.75;
  font-size: 32px;
  color: #fff; 
}
.landing div.section div#main-wrapper div#main div.body-inner div.region #block-system-main {
    overflow: hidden;
    width: 640px;
    margin: 0;
    float: none;
}

.view {
  overflow: hidden;
  width: 550px;
  margin: 0 84px 0 0;
  float: left;
}


/*----------------- News page ------------------*/
.view-news-page{

}

.view-news-page .views-row{
    margin: 30px 0 30px 0;
    overflow: hidden;
}

.view-news-page .views-row .views-field-title-field{
    font: 20px Arial;
    color: #39A7B3;
    display: block;
    line-height: 29px;
    clear: both;
}

.view-news-page .views-row .views-field-title-field a, .view-news-page .views-row .views-field-title-field a:hover{
    color: #39A7B3;
}

.view-news-page .views-row .views-field-created{

}

.view-news-page .views-row .share{
    display: block;
    float: right;
}

.view-news-page .views-row .share a{
    display: block;
    float: left;
}

.view-news-page .views-row .share .fb{
    background: url("../images/fb_share.png") no-repeat;
    width: 49px;
    height: 18px;
    margin: 0 8px 0 0;
}

.share .tw{
    background: url("../images/twitter_share.png") no-repeat;
    width: 49px;
    height: 18px;
}

.view-news-page .views-row .views-field-body{
    font: 13px Arial;
    color: #272727;
    background: url("../images/news-line.png") no-repeat top right transparent;
    padding: 10px 0 0 0;
    margin: 10px 0 0 0;
    display: block;
}

.load_more {
    float: right;
    /*top: -30px;*/
    /*position: relative;*/
}
.view-news-page .views-row .views-field-field-image-news{
    clear: both;
}
.pager li {
    background: url("../images/news-pagger.png") no-repeat;
    display: block;
    width: 30px;
    height: 30px;
}
.view-news-page .views-row .views-field-field-image-news span div ul li{
    float: left;
}
/*--------------------< Single news >-----------------------------*/
.node-news {
    overflow: hidden;
    width: 550px;
    float: left;
    margin: 31px 84px 0 0;
}
/*--------------------< News Page Pagination >--------------------*/
.item-list {
    overflow: hidden;
}
.item-list .pager  {
    overflow: hidden;
    text-align: center;
}
.item-list .pager li {
    display: inline-block;
    padding: 0;
    width: 30px;
    height: 29px;
    text-align: center;
}
.item-list .pager li a,
.item-list .pager li.pager-current {
    display: inline-block;
    width: 30px;
    height: 29px;
    color: #FFF;
    font: 14px/29px Arial, sans-serif;
    background: url("../images/news-pagger.png") no-repeat;
}
.item-list .pager li a:hover,
.item-list .pager li.pager-current:hover {
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.item-list .pager li.pager-first a,
.item-list .pager li.pager-previous a,
.item-list .pager li.pager-next a,
.item-list .pager li.pager-last a {
    text-indent: -9999px;
    background: url("../images/pagination_arrows_sprite.png") no-repeat;
}
.item-list .pager li.pager-first a {
    background-position: 0 0;
}
.item-list .pager li.pager-previous a {
    background-position: -36px 0;
}
.item-list .pager li.pager-next a {
    background-position: -105px 0;
}
.item-list .pager li.pager-last a {
    background-position: -70px 0;
}

/*----------------------------------------------------------------*/
/*--------------------------< Press Page >------------------------*/
.view-presse-page {
    overflow: hidden;
}
.view-presse-page .view-content {
    overflow: hidden;
    margin: 26px 0 0;
}
.view-presse-page .view-content .views-row {
    overflow: hidden;
    margin: 0 0 45px;
}
.view-presse-page .view-content .views-row-odd {
    overflow: hidden;
    margin: 0 0 40px;
}
.view-presse-page .view-content .views-row .views-field-title .field-content  a {
    display: block;
    margin: 0 0 14px;
    color: #005A7E;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
.view-presse-page .view-content .views-row .views-field-body {
    overflow: hidden;
    display: block;
    
}
.intro-text {
  overflow: hidden;
  margin: 0 0 28px;
}
.intro-text a.read_more_text {
  font-size: 13px;
  color: #0A60AA;
}
.intro-text .field-content {
  overflow: hidden;
  float: left;
}
.intro-text .field-content p {
    overflow: hidden;
    margin: 0;
    line-height: 1.5;
}
.date-author {
    overflow: hidden;
    height: 28px;
    padding: 0 10px;
    line-height: 28px;
    background-color: #f4f4f4;
    text-align: right;
}
.date-author div {
   display: inline-block;
}
.date-author span,
.date-author div {
    font-size: 13px;
    color: #515151;
    font-style: italic;
}
.date-author span {
    padding: 0 4px 0 0;
}
.date-author span:after {
    content: '-';
    padding: 0 0 0 4px;
}
/* Team page*/
#accordion .section-wrapper.ui-accordion-content{
    border: none;
}
#accordion .section-wrapper ul{
    clear: both;
    overflow: hidden;
    display: block;
}
#accordion .section-wrapper ul li.doctor-middle{
    overflow: hidden;
    display: block;
    float: left;
    margin: 0 0 15px 25px;
    padding: 0;
    border: 1px solid #BBBBBE;

    /*max-height: 216px;*/
    /*min-height: 216px;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#accordion .section-wrapper ul li.doctor-middle a{
    display: block;
    border: 1px solid #EEEFEF;
    width: 144px;
    height: 204px;
    margin: 5px;
}
#accordion .section-wrapper ul li.doctor-middle a img{
    display: block;
    margin: 10px auto 0;
}
#accordion .section-wrapper ul li.doctor-middle a span{
    display: block;
    color: #000000;
    text-align: center;
    overflow: hidden;
    width: 100%;
}
/*------------------< Vacancies Page >---------------*/
.view-freie-stellen-page {
    overflow: hidden;
    margin: 31px 23px 0 0;
    width: 611px;
}
.view-freie-stellen-page .view-content {
    overflow: hidden;
    margin: 0 0 15px;
}
.view-freie-stellen-page  .views-row {
    overflow: hidden;
    position: relative;
    padding: 15px 17px;
    border: 2px solid;
    border-color: #D0D0CE #CFCFCD #CECECC #D0D0D0;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    -ms-border-radius: 2px 2px 2px 2px;
    -khtml-border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 5px 1px #fff inset;
    -moz-box-shadow: 0 0 5px 1px #fff inset;
    -webkit-box-shadow: 0 0 5px 1px #fff inset;
    -o-box-shadow: 0 0 5px 1px #fff inset;
    -ms-box-shadow: 0 0 5px 1px #fff inset;
}
.view-freie-stellen-page  .views-row-odd {
    background-color: #EBEBEB;
}
.view-freie-stellen-page  .views-row-even {
    background-color: #F5F5F5;
}
.view-freie-stellen-page  .views-row  .views-field-title {
    overflow: hidden;
    display: block;
    margin: 0 17px 11px 0;
    width: 365px;
}
.view-freie-stellen-page  .views-row  .views-field-title span a {
    color: #357A9B;
    font-weight: bold;
    font-size: 18px;
}
.view-freie-stellen-page  .views-row  .views-field-title span a:hover {
    text-decoration: none;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.view-freie-stellen-page  .views-row  .views-field-created {
    overflow: hidden;
    float: right;
}
.view-freie-stellen-page  .views-row  .views-field-created span,
.view-freie-stellen-page  .views-row  .views-field-created span em {
    font-style: normal;
    font-size: 12px;
    color: #494949;
}
.view-freie-stellen-page  .views-row  .views-field-created span.views-label-created:before {
    content: "(";
}
.view-freie-stellen-page  .views-row  .views-field-created span.field-content:after {
    content: ")";
}
.view-freie-stellen-page  .views-row .wrap-data {
    overflow: hidden;
    width: 365px;
    font-size: 14px;
    color: #444444;
    line-height: 1.6;
    background-color: #EBEBEB;
}
.view-freie-stellen-page  .views-row .wrap-data .views-field-field-type-of-employment .views-label,
.view-freie-stellen-page  .views-row .wrap-data .views-field .views-label {
    font-weight: bold;
}
.view-freie-stellen-page  .views-row .wrap-data .views-field-field-type-of-employment .field-content:after {
    content: "|";
    padding: 0 4px 0;
}
.view-freie-stellen-page  .views-row .wrap-data  .views-field-field-type-of-employment {
    float: left;
}
/*------------------------------< Doctors >-----------------------------------*/
#accordion {
    overflow: hidden;
    float: left;
    width: 550px;
    margin: 31px 84px 0 0;
}
#accordion h3.ui-state-default {
    height: 40px;
    margin: 0 0 3px;
    padding: 0 14px 0 17px;
    line-height: 40px;
    border: 1px solid;
    border-color: #DEE2E3 #F2F2F0 #CDD1D2 #D7D7D7;
    box-shadow: 0 0 4px 1px #fff inset;
    -moz-box-shadow: 0 0 4px 1px #fff inset;
    -webkit-box-shadow: 0 0 4px 1px #fff inset;
    -o-box-shadow: 0 0 4px 1px #fff inset;
    -ms-box-shadow: 0 0 4px 1px #fff inset;
    color: #383838;
    background: url("../images/acordeon_vertical_down_arrow.png") no-repeat 520px 18px #EBEBEB;
}
#accordion h3.ui-state-active {
    height: 40px;
    padding: 0 14px 0 17px;
    line-height: 40px;
    outline: none;
    border: 1px solid;
    border-color: #DEE2E3 #F2F2F0 #CDD1D2 #D7D7D7;
    box-shadow: 0 0 4px 1px #fff inset;
    -moz-box-shadow: 0 0 4px 1px #fff inset;
    -webkit-box-shadow: 0 0 4px 1px #fff inset;
    -o-box-shadow: 0 0 4px 1px #fff inset;
    -ms-box-shadow: 0 0 4px 1px #fff inset;
    background: url("../images/acordeon_vertical_up_arrow.png") no-repeat 520px 18px #CFE4E7;
}
#accordion .ui-accordion-content .doctor-middle a:hover {
    text-decoration: none;
    opacity: 0.8;
    filter:alpha(opacity=80);
}
#accordion .ui-accordion-content .doctor-middle a span {
    padding: 9px 0 0;
    font-weight: bold;
    line-height: 1.3;
}